<h1>About Cubicle</h1>
<div class="about">
    <p>Cubicle is a place, where you can browse some of the most popular rubik cubes in the world and add
        some new cubes that you have discovered.
    </p>
    <div><a href="https://eu.rubiks.com/">MORE CUBES</a></div>
</div>